@font-face {
  font-family: 'bbc';
  src: url('bbc.otf');
}

$base-font-size: 18px;
$f1: 'Catamaran';
$f2: 'Roboto', sans-serif;

h1, h2, h3, h4, h5 {
  font-family: $f1;
}

p, i, a {
  font-family: $f2;
  font-weight:100;
}

// Sizes
h1 {
  font-size:rem(70px);
  letter-spacing:-1px;
}

h2 {
  font-size:rem(24px);
}
h3 {
  font-size:rem(22px);
}
h5 {
  color:$s;
}

h2.subtitle {
  font-family: $f2;
  font-size:rem(20px);
  margin-bottom:35px;
  opacity:.9;
  line-height: $base-font-size * 1.7;
  font-weight:100;
}

p {
  font-size: rem(17px);
  line-height: $base-font-size * 1.5;
  opacity:0.7;
}