// ------------------------------------
// Different types of transitions
// ------------------------------------
@mixin t1 {
    transition: all 250ms cubic-bezier(0.694, 0.0482, 0.335, 1);
}

@mixin ease {
    transition: all 250ms ease;
}

@mixin t500 {
    transition: all 500ms cubic-bezier(0.694, 0.0482, 0.335, 1);
}